body{
  font-family: 'Acme', sans-serif; 
  background-image: linear-gradient(to right top, #beb3b3, #9a9092, #776e73, #554e55, #343139, #35323a, #35323a, #36333b, #595159, #7e7278, #a49599, #cbbaba);
  color: white;
}
html,
body,
header,
.view {
height: 100%;
}
.view {
  background: url("../images/pen.jpeg")no-repeat center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}
.navbar {
  z-index: 8;
}
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: rgb(158,53,53);
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: rgb(158,53,53);
  }
}
.quote{
  color:rgb(166,44,44);
  border: white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem;
}
#title{
  font-size: 4rem;
}