body{
  font-family: 'Acme', sans-serif;  
}
html,
body,
header,
.view {
height: 100%;
}
.view {
  background: url("../images/pen.jpeg")no-repeat center center;
  background-size: cover;
}
@media (min-width: 768px) {
  .view {
      overflow: visible;
      margin-top: -56px;
  }
}
.navbar {
  z-index: 8;
}
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }
}

