{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row comment-area">
    <div class="col-md-4">
        <div id="post-title">
          <h2>{{post}}</h2>
        </div>
          {{ wtf.quick_form(comment_form) }}  
      </div>
      <div class="col-md-8" id="post-section">
          <!-- {{format_comment|safe}} -->
        {% for post in comments%}
        
        <div>
          <h4 class="card-title">{{blog.title}}</h4>
          <p class="card-body">" ...{{post.comment}} "</p>
          <p class="card-footer"><b>..{{user.username}}</b>'s blog</p>
        </div> 
        <form action="{{url_for('main.delete_comment',id=post.id)}}" method="POST">
          <input type="hidden" name="method" value="DELETE">
          <input type="submit" value="Delete" class="btn btn-danger">
        </form> 
        
        {% endfor %}
      </div>
  </div>  
</div>
{% include 'footer.html' %}
{% endblock %}