{% extends 'base.html' %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

 {% endblock %}

{% block content %}
<div class="container-fluid" id="home-bg">
 
    <div class="row view intro-2">
      
      <div class="text-center wow fadeInUp">
        <h1 id="title">LET'S BLOG</h1>
        <h4>It really is an amazing time, for those brave souls who take a chance and choose to speak up. </h4>
        <br>
        <div class="quote">
          <h2>" {{quote.quote}} "</h2>
          <p><footer><cite>{{quote.author}}</cite></footer></p>
        </div>            
      </div>
            
    </div>
        
    <div class="row" id="blogs">
      <h3> Blogs </h3>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
              
        </div>
        <div class="col-md-1"></div>
    </div>
    
</div>
{% endblock %}